.follower {
	background: #ccc;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50%; 
	width: 350px;
}
img{
	float: right;
	width: 30%;
}
.user, .url {
	font-size: 2em;
	padding-left: 50px;
}